.button-component {
    text-align: center;
    display: block;
    margin-bottom: 6px;
    margin-top: 6px;
}

.paper .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
}

.paper .grid-container .grid-item {
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
}

.paper .grid-container .center {
    border-left: 1px dashed #C7C7CD;
    border-right: 1px dashed #C7C7CD;
}

.price {
    font-weight: 800;
    font-size: larger;
}

.price span {
    font-weight: 600;
}

.features {
    text-align: left !important;
}

.item {
    line-height: 0px;
    padding: 4px 14px;
}

.item div {
    display: flex;
    align-items: center;
}

.item div span {
    margin-left: 5px;
    font-weight: 600;
}