.button-component {
    text-align: center;
    display: block;
    margin-bottom: 6px;
    margin-top: 6px;
    line-height: 0px;
}

.button-component p {
    color: #6b7280;
    font-size: small;
}

.paper .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
}

.paper .grid-card {
    display: grid;
    grid-template-columns: 50% 50%;
}

.paper .grid-container .grid-item {
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
}

.paper .grid-container .center {
    border-left: 1px dashed #C7C7CD;
    border-right: 1px dashed #C7C7CD;
}

.price {
    font-weight: 800;
    font-size: larger;
}

.price span {
    font-weight: 600;
}

.features {
    text-align: left !important;
}

.item {
    line-height: 0px;
    padding: 4px 14px;
}

.item div {
    display: flex;
    align-items: center;
}

.item div span {
    margin-left: 5px;
    font-weight: 600;
}

.paper .grid-card .card .car-image {
    display: block;
    margin: 0 auto;
}

.grid-card {
    margin: 0 12px;
}

.paper .grid-card .card {
    border: 1px solid #C7C7CD;
    border-radius: 20px;
    padding: 25px;
    margin: 10px;
}

.card div .car-name {
    font-weight: 600;
    font-size: 22px;
}

.card div .car-price {
    font-weight: 500;
    font-size: 14px;
    color: #333333;
}

.card .description {
    line-height: 0px;
}

.feature-card {
    display: flex;
    align-items: center;
    justify-content: space-between !important;
}

.features-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-top: 4px;
}

.feature-card span {
    margin-left: 4px;
}

.feature-card {
    border: 1px solid #C7C7CD;
    margin: 0 5px;
    padding: 4px 6px;
    border-radius: 8px;
}

.features-bottom {
    margin-bottom: 22px;
    margin-top: 5px;
}

.grid-middle {
    margin: 0 auto;
}
