.button-component {
    text-align: center;
    display: block;
    margin-bottom: 6px;
    margin-top: 6px;
    line-height: 0px;
}

.button-component p {
    color: #6b7280;
    font-size: small;
}

.paper .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
}

.paper .grid-card {
    display: grid;
    grid-template-columns: 50% 50%;
}

.paper .grid-container .grid-item {
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
}

.paper .grid-container .center {
    border-left: 1px dashed #C7C7CD;
    border-right: 1px dashed #C7C7CD;
}

.price {
    font-weight: 800;
    font-size: larger;
}

.price span {
    font-weight: 600;
}

.features {
    text-align: left !important;
}

.item {
    line-height: 0px;
    padding: 4px 14px;
}

.item div {
    display: flex;
    align-items: center;
}

.item div span {
    margin-left: 5px;
    font-weight: 600;
}

.paper .grid-card .card .car-image {
    display: block;
    margin: 0 auto;
}

.grid-card {
    margin: 0 12px;
}

.paper .grid-card .card {
    border: 1px solid #C7C7CD;
    border-radius: 20px;
    padding: 25px;
    margin: 10px;
}

.card div .car-name {
    font-weight: 600;
    font-size: 22px;
}

.card div .car-price {
    font-weight: 500;
    font-size: 14px;
    color: #333333;
}

.card .description {
    line-height: 0px;
}

.feature-card {
    display: flex;
    align-items: center;
    justify-content: space-between !important;
}

.features-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-top: 4px;
}

.feature-card span {
    margin-left: 4px;
}

.feature-card {
    border: 1px solid #C7C7CD;
    margin: 0 5px;
    padding: 4px 6px;
    border-radius: 8px;
}

.features-bottom {
    margin-bottom: 22px;
    margin-top: 5px;
}

.grid-middle {
    margin: 0 auto;
}

/* CAR DETAILS STYLING */

.inline-flex {
    padding: 10px 30px 30px 30px;
    border-bottom: 1px solid #C7C7CD;
    display: flex;
    align-items: center;
}

.inline-flex .car-desc {
    margin-left: 30px;
    line-height: 0px;
}

.inline-flex .car-desc .car-name {
    font-weight: 600;
    margin-left: 5px;
    font-size: x-large;
}

.features-container .list-item {
    margin-bottom: 5px;
} 

.code-context {
    margin-left: 5px;
    margin-top: 20px;
}

.code-context button {
    padding: 5px 6px;
    background-color: #ccc;
    font-weight: 600;
    color: #4b5563;
    border-radius: 6px;
    border: none;
    cursor: default;
}

.addons {
    padding: 10px 30px 15px 30px;
    border-bottom: 1px solid #C7C7CD;
    display: grid;
    line-height: 0px;
    grid-template-columns: auto auto auto;
}

.addons-item {
    display: flex;
    align-items: center;
}

.addons-info {
    line-height: 0px;
    margin-left: 6px;
}

.addons-title {
    font-weight: 600;
}

.addons-desc {
    font-size: larger;
} 

.check {
    font-size: 22px;
    color: #059669;
}

.banner {
    color: #059669;
    cursor: default;
    outline: none;
    border: none;
    background-color: #a7f3d0;
    padding: 8px 10px;
    border-radius: 5px;
    font-weight: 500;
    margin-top: 8px;
}

.banner-wrapper {
    text-align: right;
}

.addons-footer {
    padding: 20px 30px 15px 30px;
    display: flex;
    justify-content: space-between;
}

.addons-footer div {
    line-height: 2px;
}

.addons-footer div p {
    color: #6b7280;
    font-size: small;
}

.back-btn {
    border: none;
    background-color: #E6356F;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 12px;
    padding: 5px 6px;
    border-radius: 2px;
}

.contain-btn {
    text-align: right;
    margin-right: 30px;
}

@media only screen and (max-width: 600px) {
    .paper .grid-card {
        display: block;
    }

    .sm-hidden {
        display: none;
    }

    .card div .car-name {
        font-size: 18px;
    }

    .inline-flex {
        display: block;
    }

    .car-image {
        display: block;
        margin: 0 auto;
    }

    .inline-flex .car-desc {
        margin-left: 0px;
    }

    .features-container {
        grid-template-columns: auto auto;
    }

    .addons {
        display: block;
    }

    .banner-wrapper {
        text-align: center;
    }
}