.box {
    padding: 36px 0px;
}

.grid-container {
    display: grid;
    grid-template-columns: 30% auto;
}

.body {
    background-color: #EFEFEF;
    min-height: 90vh;
}

.grid-left {
    padding-right: 16px;
    margin-bottom: 0px;
}


@media only screen and (max-width: 600px) {
    .grid-container {
      display: block;
    }

    .grid-left {
        padding-right: 0px;
        margin-bottom: 20px;
    }
}