.header {
    border-bottom: 1px solid #C7C7CD;
    padding: 8px 0;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-item {
    display: flex;
    align-items: center;
}

.list-item {
    margin-left: 15px;
    list-style-type: none;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .nav {
        display: block !important;
    }

    .nav-item {
        display: none;
    }
}